 @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var cat = ViewData["categoria"];
    var id_mesa = ViewData["id"];
}

<div>
    <h1 class="text-dark" style="text-decoration-thickness:auto">@cat.ToString()</h1>
    <hr style="color: black; background-color: black; width:100%;" />
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var item in (IEnumerable<dynamic>)ViewData["listmenu"])
    {
        <div class="col">
            <div class="card h-100 border-success bg-light ">
                @* <img src="@promo.ImageUrl" class="card-img-top" alt="@promo.Title"> *@
                <div class="card-body">
                    <h5 class="card-title">@item.nombre</h5>
                    <p class="card-text"> <b>@item.descripcion</b> </p>
                    <p class="card-text"> $: @item.precio </p>
                    <form asp-area="" asp-controller="items_menu" asp-action="Añadirpedido" asp-route-id_mesa="@id_mesa" asp-route-id_item_menu="@item.id_item_menu">
                        <div class="mb-3">
                            @Html.Label("lblCantidad", "Cantidad")
                            @Html.TextBox("Cantidad", "", new { @class = "form-control" })
                        </div>
                        <div class="mb-3">
                            @Html.Label("lblComentario", "Comentario")
                            @Html.TextArea("Comentario", "", new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-success left"><a >+</a></button>
                    </form>
                    
                </div>
            </div>
        </div>
    }
</div>

   






