@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <h1 class="text-dark" style="text-decoration-thickness:auto">Cuentas:</h1>
    <hr style="color: black; background-color: black; width:100%;" />
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var cuenta in (IEnumerable<dynamic>)ViewData["listcuenta"])
    {
        <div class="col">
            <div class="card h-100 border-success bg-light">
                <div class="card-body">
                    <h5 class="card-title">Cuenta</h5>
                    <p class="card-text">Nombre: @cuenta.nombre</p>
                    <p class="card-text">N mesa:  @cuenta.nombremesa</p>
                    <p class="card-text"><b>Id Cuenta: @cuenta.Id_cuenta</b></p>
                    <p class="card-text"> Total: </p>
                    <button type="submit" class="btn btn-success left"><a style="text-decoration: none; color: inherit;" asp-area="" asp-controller="Detalle_Pedido" asp-action="Index" asp-route-id_mesa="@cuenta.Id_mesa">Ver pedido</a></button>
                    <button type="submit" class="btn btn-danger left"><a style="text-decoration: none; color: inherit;" asp-area="" asp-controller="Detalle_Pedido" asp-action="CerrarCuenta" asp-route-Id_cuenta="@cuenta.Id_cuenta" asp-route-id_mesa="@cuenta.Id_mesa">Cerrar Cuenta</a></button>
                </div>
            </div>
        </div>
    }
</div>