@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var id_mesa = ViewData["id"];
}
<h3>Combos: </h3>



<div class="row row-cols-1 row-cols-md-3 g-4">
    @if (ViewData["listcombo"] != null && ((IEnumerable<dynamic>)ViewData["listcombo"]).Any())
    {
        @foreach (var combo in (IEnumerable<dynamic>)ViewData["listcombo"])
        {
            <div class="col">
                <div class="card h-100 border-success bg-light ">
                    @* <img src="@combo.ImageUrl" class="card-img-top" alt="@combo.Title"> *@
                    <div class="card-body">
                        @* <h5 class="card-title">@combo.nombre</h5> *@
                        <p class="card-text"> <b>@combo.descripcion</b> </p>
                        <p class="card-text"> $: @combo.precio </p>
                        <form asp-area="" asp-controller="items_menu" asp-action="Añadirpedido" asp-route-id_mesa="@id_mesa" asp-route-id_item_menu="@combo.id_combo">
                            <div class="mb-3">
                                @Html.Label("lblCantidad", "Cantidad")
                                @Html.TextBox("Cantidad", "", new { @class = "form-control" })
                            </div>
                            <div class="mb-3">
                                @Html.Label("lblComentario", "Comentario")
                                @Html.TextArea("Comentario", "", new { @class = "form-control" })
                            </div>
                            <button type="submit" class="btn btn-success left"><a>+</a></button>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No se encontraron combos.</p>
    }
</div>
