@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Combos: </h3>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var combo in (IEnumerable<dynamic>)ViewData["listcombo"])
    {
        <div class="col">
            <div class="card h-100 border-success bg-light ">
                @* <img src="@promo.ImageUrl" class="card-img-top" alt="@promo.Title"> *@
                <div class="card-body">
                    @* <h5 class="card-title">@promo.nombre</h5> *@
                    <p class="card-text"> <b>@combo.descripcion</b> </p>
                    <p class="card-text"> $: @combo.precio </p>
                    <button type="submit" class="btn btn-success left">+</button>
                </div>
            </div>
        </div>
    }
</div>

