@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ModuloMesero.Models.mesas
<div>
    <h1 class="text-dark" style="text-decoration-thickness:auto">Crear Cuenta: @Model.nombre_mesa</h1>
    <hr style="color: black; background-color: black; width:100%;" />
</div>
<div style="display: flex; justify-content: center;">
    <form class="form-horizontal" asp-action="CrearCuenta">
        <div class="form-group">
            <div class="col-lg-4">@Html.Label("lblNombre", "Nombre")</div>
            <div class="mb-3">
                @Html.TextBox("Nombre", "", new { @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-8">@Html.Label("lblCantidad_Personas", "Cantidad de personas")</div>
            <div class="mb-3">
                @Html.TextBox("Cantidad_Personas", "", new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="">
                <button type="submit" class="btn btn-success left">Crear</button>
            </div>
        </div>
    </form>
</div>